@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #F9F9F9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes moveImage {
  0% {
    transform: translate(-30%, -80%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.topBread {
  animation: moveImage 1.2s forwards;
}
@keyframes moveCabbage {
  0% {
    transform: translate(-10%, -55%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.cabbageOne {
  animation: moveCabbage 1.2s forwards; /* Длительность 1 секунда, с остановкой на последнем ключевом кадре */
}
@keyframes moveImageMinus {
  0% {
    transform: translate(30%, 80%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bottomBread {
  animation: moveImageMinus 1.2s forwards;
}
@keyframes moveCabbageMinus {
  0% {
    transform: translate(10%, 55%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.cabbageTwo {
  animation: moveCabbageMinus 1.2s forwards;
}
@keyframes moveCheese {
  0% {
    transform: translate(-10%, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.cheese{
  animation: moveCheese 1.2s forwards;
}
@keyframes moveTomato {
  0% {
    transform: translate(0%, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.tomato{
  animation: moveTomato 1.2s forwards;
}
@media (max-width: 960px){
  .blockt{
    flex-direction: column!important;
    padding-top: 0!important;
  }
}
@media (max-width: 1300px){
  .contr{
    padding: 0 5px!important;
  }
}